parameters:
	ignoreErrors:
		-
			message: '#^Return type \(App\\Models\\User\) of method App\\Actions\\Fortify\\CreateNewUser\:\:create\(\) should be compatible with return type \(Illuminate\\Foundation\\Auth\\User\) of method Laravel\\Fortify\\Contracts\\CreatesNewUsers\:\:create\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: app/Actions/Fortify/CreateNewUser.php

		-
			message: '#^Argument of an invalid type Illuminate\\Support\\Collection supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: app/Livewire/EventScoringGrid.php

		-
			message: '#^Call to an undefined method App\\Livewire\\EventScoringGrid\:\:addError\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Livewire/EventScoringGrid.php

		-
			message: '#^Call to an undefined method App\\Livewire\\EventScoringGrid\:\:authorize\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Livewire/EventScoringGrid.php

		-
			message: '#^Call to an undefined method App\\Models\\Event\:\:isActive\(\)\.$#'
			identifier: method.notFound
			count: 8
			path: app/Livewire/EventScoringGrid.php

		-
			message: '#^Call to an undefined method App\\Models\\Event\:\:rounds\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Livewire/EventScoringGrid.php

		-
			message: '#^Call to an undefined method App\\Models\\Event\:\:teams\(\)\.$#'
			identifier: method.notFound
			count: 8
			path: app/Livewire/EventScoringGrid.php

		-
			message: '#^Call to an undefined method App\\Models\\User\:\:events\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Livewire/EventScoringGrid.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Round, \$this\(App\\Models\\Event\)\>\:\:orderBy\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Event.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Team, \$this\(App\\Models\\Event\)\>\:\:orderBy\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Event.php

		-
			message: '#^PHPDoc tag @mixin contains unknown class App\\Models\\IdeHelperEvent\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Event.php

		-
			message: '#^PHPDoc tag @mixin contains unknown class App\\Models\\IdeHelperRound\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Round.php

		-
			message: '#^PHPDoc tag @mixin contains unknown class App\\Models\\IdeHelperScore\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Score.php

		-
			message: '#^PHPDoc tag @mixin contains unknown class App\\Models\\IdeHelperTeam\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Team.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Stringable\:\:explode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc tag @mixin contains unknown class App\\Models\\IdeHelperUser\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Call to an undefined method App\\Models\\User\:\:events\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Policies/EventPolicy.php

		-
			message: '#^Call to an undefined static method Illuminate\\Support\\Facades\\DB\:\:prohibitDestructiveCommands\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Http\\Request\:\:input\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Providers/FortifyServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Http\\Request\:\:ip\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Providers/FortifyServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Http\\Request\:\:session\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Providers/FortifyServiceProvider.php
