parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Round, \$this\(App\\Models\\Event\)\>\:\:orderBy\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Event.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Team, \$this\(App\\Models\\Event\)\>\:\:orderBy\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Event.php

		-
			message: '#^Class App\\Models\\Score not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Round.php

		-
			message: '#^Parameter \#1 \$related of method Illuminate\\Database\\Eloquent\\Model\:\:hasMany\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Model\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Round.php

		-
			message: '#^Class App\\Models\\Score not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Team.php

		-
			message: '#^Parameter \#1 \$related of method Illuminate\\Database\\Eloquent\\Model\:\:hasMany\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Model\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Team.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Stringable\:\:explode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Call to an undefined static method Illuminate\\Support\\Facades\\DB\:\:prohibitDestructiveCommands\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Http\\Request\:\:input\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Providers/FortifyServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Http\\Request\:\:ip\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Providers/FortifyServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Http\\Request\:\:session\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Providers/FortifyServiceProvider.php
